#preview_table, #header_info, #buttons_one, #buttons_two, #timers, #step_div
{
    width: 100%;
    text-align: center;
}

.status_table
{
    text-align: center;
    border: 1px solid black;
}

.status_table_head
{
    font-weight: bold;
}

.preview_table
{
    text_align: center;
}

.scroll-text {
  padding-top: 25px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 2em;
  overflow: hidden;
}
.scroll-text ul {
  width: 800px;
  height: 100px;
  overflow: hidden;
  margin: 0;
}
.scroll-text ul li {
  text-align: center;
  height: 1.5em;
  font-size: x-large;
  font-weight: bold;
}
.status_table {
    width: 100%
}

.status_table td {
    border: 1px solid black;
}

#in_progress_div, #on_deck_div, #unassigned_div {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    padding-top: 25px;
    padding-bottom: 25px;
}